<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/image/Rasengan.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p>Are we friends? Or are we foes? That kind of thing you decide yourselves!<br>
            I love heroes, but I don’t want to be one. Do you even know what a hero is!? <br>
            For example, you have some meat. <br>
            Pirates will feast on the meat, but the hero will distribute it among the people! <br>
            I want to eat meat!
        <p>
            <img class="potrait" src="./image/HinataBW.jpg">

    </div>
    {{!--
    <p> Created by {{name}}</p> --}}
    {{>footer}}
</body>

</html>